In [1]:
# Import libaries

from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [23]:
url = 'https://www.minneapolisfed.org/news-and-events/beige-book-archive/2019-04-su'

In [24]:
res = requests.get(url)

In [25]:
res.status_code

200

In [ ]:
soup = BeautifulSoup(res.content, 'lxml')

In [ ]:
#for i in soup.find_all('section', {'class': 'article-content'}):
   # print(i.text)

In [ ]:
# url = 'https://www.minneapolisfed.org/news-and-events/beige-book-archive' 
# res = requests.get(url)

In [ ]:
soup = BeautifulSoup(res.content, 'lxml')

In [ ]:
# page = soup.find('div', {'id': 'page-content'})
# page

In [ ]:
region_links = []
for page in soup.find_all('div', {'id': 'left-content'}):
    #print(page.attrs)
    for i in page('a'):
        #print(i.attrs['href'])
        #print('https://www.minneapolisfed.org'+i.attrs['href'])
        links = {}
        links['links'] = 'https://www.minneapolisfed.org'+i.attrs['href']
        region_links.append(links)
        
        
pd.DataFrame(region_links)

In [ ]:
# doc = []
# book = soup.find('div', {'id': 'page-content'}).find_all('p')[3:]
# docs = {}
# docs['text'] = book
# doc.append(docs)
# pd.DataFrame(doc)

In [ ]:
national_report = []
for body in soup.find('div', {'id': 'page-content'}).find_all('p')[3:]:
            print(body.text)
#             #print(i.attrs['href'])
#             document = {}
#             document['beige_book'] = body.text
#             national_report.append(document)
            
# pd.DataFrame(national_report)

In [2]:
webpage = [
    '2019-04-su', '2019-03-su', '2019-01-su',
           
    '2018-12-su', '2018-10-su', '2018-09-su', '2018-09-su', 
    '2018-05-su', '2018-04-su', '2018-03-su', '2018-01-su',

    '2017-11-su', '2017-10-su', '2017-09-su', '2017-07-su',
    '2017-05-su', '2017-04-su', '2017-03-su', '2017-01-su',

    '2016-11-su', '2016-10-su', '2016-09-su', '2016-07-su',
    '2016-06-su', '2016-04-su', '2016-03-su', '2016-01-su',

    '2015-12-su', '2015-10-su', '2015-09-su', '2015-07-su', 
    '2015-06-su', '2015-04-su', '2015-03-su', '2015-01-su',

    '2014-12-su', '2014-10-su', '2014-09-su', '2014-07-su', 
    '2014-06-su', '2014-04-su', '2014-03-su', '2014-01-su',

    '2013-12-su', '2013-10-su', '2013-09-su', '2013-07-su', 
    '2013-05-su', '2013-04-su', '2013-03-su', '2013-01-su',

    '2012-11-su', '2012-10-su', '2012-08-su', '2012-07-su', 
    '2012-06-su', '2012-04-su', '2012-02-su', '2012-01-su',

    '2011-11-su', '2011-10-su', '2011-09-su', '2011-07-su', 
    '2011-06-su', '2011-04-su', '2011-03-su', '2011-01-su',

    '2010-12-su', '2010-10-su', '2010-09-su', '2010-07-su', 
    '2010-06-su', '2010-04-su', '2010-03-su', '2010-01-su',

    '2009-12-su', '2009-10-su', '2009-09-su', '2009-07-su', 
    '2009-06-su', '2009-04-su', '2009-03-su', '2009-01-su',

    '2008-12-su', '2008-10-su', '2008-09-su', '2008-07-su', 
    '2008-06-su', '2008-04-su', '2008-03-su', '2008-01-su',

    '2007-11-su', '2007-10-su', '2007-09-su', '2007-07-su',
    '2007-06-su', '2007-04-su', '2007-03-su', '2007-01-su',

    '2006-11-su', '2006-10-su', '2006-09-su', '2006-07-su',
    '2006-06-su', '2006-04-su', '2006-03-su', '2006-01-su',

    '2005-11-su', '2005-10-su', '2005-09-su', '2005-07-su',
    '2005-06-su', '2005-04-su', '2005-03-su', '2005-01-su',

    '2004-12-su', '2004-10-su', '2004-09-su', '2004-07-su',
    '2004-06-su', '2004-04-su', '2004-03-su', '2004-01-su',

    '2003-11-su', '2003-10-su', '2003-09-su', '2003-07-su',
    '2003-06-su', '2003-04-su', '2003-03-su', '2003-01-su',

    '2002-11-su', '2002-10-su', '2002-09-su', '2002-07-su', 
    '2002-06-su', '2002-04-su', '2002-03-su', '2002-01-su',

    '2001-11-su', '2001-10-su', '2001-09-su', '2001-08-su', 
    '2001-06-su', '2001-05-su', '2001-03-su', '2001-01-su',

    '2000-12-su', '2000-11-su', '2000-09-su', '2000-08-su', 
    '2000-06-su', '2000-05-su', '2000-03-su', '2000-01-su',

    '1999-12-su', '1999-11-su', '1999-09-su', '1999-08-su', 
    '1999-06-su', '1999-05-su', '1999-03-su', '1999-01-su',

    '1998-12-su', '1998-11-su', '1998-09-su', '1998-08-su', 
    '1998-06-su', '1998-05-su', '1998-03-su', '1998-01-su',

    '1997-12-su', '1997-10-su', '1997-09-su', '1997-08-su', 
    '1997-06-su', '1997-05-su', '1997-03-su', '1997-01-su',

    '1996-12-su', '1996-10-su', '1996-09-su', '1996-08-su', 
    '1996-06-su', '1996-05-su', '1996-03-su', '1996-01-su',

    '1995-12-su', '1995-11-su', '1995-09-su', '1995-08-su', 
    '1995-06-su', '1995-05-su', '1995-03-su', '1995-01-su',

    '1994-12-su', '1994-11-su', '1994-09-su', '1994-08-su', 
    '1994-06-su', '1994-05-su', '1994-03-su', '1994-01-su',

    '1993-12-su', '1993-11-su', '1993-09-su', '1993-08-su', 
    '1993-06-su', '1993-05-su', '1993-03-su', '1993-01-su',

    '1992-12-su', '1992-11-su', '1992-09-su', '1992-08-su', 
    '1992-06-su', '1992-05-su', '1992-03-su', '1992-01-su',

    '1991-12-su', '1991-10-su', '1991-09-su', '1991-08-su', 
    '1991-06-su', '1991-05-su', '1991-03-su', '1991-01-su',

    '1990-12-su', '1990-10-su', '1990-09-su', '1990-08-su', 
    '1990-06-su', '1990-05-su', '1990-03-su', '1990-01-su',

    '1989-12-su', '1989-11-su', '1989-09-su', '1989-08-su', 
    '1989-06-su', '1989-05-su', '1989-03-su', '1989-01-su',

    '1988-11-su', '1988-10-su', '1988-09-su', '1988-08-su', 
    '1988-06-su', '1988-05-su', '1988-03-su', '1988-01-su',

    '1987-12-su', '1987-10-su', '1987-09-su', '1987-08-su', 
    '1987-06-su', '1987-05-su', '1987-03-su', '1987-01-su',

    '1986-12-su', '1986-10-su', '1986-09-su', '1986-08-su', 
    '1986-06-su', '1986-05-su', '1986-03-su', '1986-01-su',

    '1985-12-su', '1985-10-su', '1985-09-su', '1985-08-su', 
    '1985-06-su', '1985-05-su', '1985-03-su', '1985-01-su',

    '1984-12-su', '1984-10-su', '1984-09-su', '1984-08-su', 
    '1984-06-su', '1984-05-su', '1984-03-su', '1984-01-su',

    '1983-12-su', '1983-11-su', '1983-09-su', '1983-08-su', 
    '1983-07-su', '1983-05-su', '1983-03-su', '1983-02-su',

    '1982-12-su', '1982-11-su', '1982-09-su', '1982-08-su', 
    '1982-06-su', '1982-05-su', '1982-03-su', '1982-01-su',

    '1981-12-su', '1981-11-su', '1981-09-su', '1981-08-su', 
    '1981-06-su', '1981-05-su', '1981-03-su', '1981-01-su',

    '1980-12-su', '1980-11-su', '1980-10-su', '1980-09-su', 
    '1980-08-su', '1980-07-su', '1980-05-su', '1980-04-su',
    '1980-03-su','1980-01-su',

    '1979-11-su', '1979-10-su', '1979-09-su', '1979-08-su', 
    '1979-07-su', '1979-05-su', '1979-04-su', '1979-03-su', 
    '1979-01-su',

    '1978-12-su', '1978-11-su', '1978-10-su', '1978-09-su',
    '1978-08-su', '1978-07-su', '1978-06-su', '1978-05-su',
    '1978-04-su', '1978-03-su', '1978-02-su', '1978-01-su',

    '1977-12-su', '1977-11-su', '1977-10-su', '1977-09-su',
    '1977-08-su', '1977-07-su', '1977-06-su', '1977-05-su',
    '1977-04-su', '1977-03-su', '1977-02-su', '1977-05-su',

    '1976-12-su', '1976-11-su', '1976-10-su', '1976-09-su',
    '1976-08-su', '1976-07-su', '1976-06-su', '1976-05-su',
    '1976-04-su', '1976-03-su', '1976-02-su', '1976-01-su',

    '1975-12-su', '1975-11-su', '1975-10-su', '1975-09-su',
    '1975-08-su', '1975-07-su', '1975-06-su', '1975-05-su',
    '1975-04-su', '1975-03-su', '1975-02-su', '1975-01-su',

    '1974-12-su', '1974-11-su', '1974-10-su', '1974-09-su',
    '1974-08-su', '1974-07-su', '1974-06-su', '1974-05-su',
    '1974-04-su', '1974-03-su', '1974-02-su', '1974-01-su',

    '1973-12-su', '1973-11-su', '1973-10-su', '1973-09-su',
    '1973-08-su', '1973-07-su', '1973-06-su', '1973-05-su',
    '1973-04-su', '1973-03-su', '1973-02-su', '1973-01-su',

    '1972-12-su', '1972-11-su', '1972-10-su', '1972-09-su',
    '1972-08-su', '1972-07-su', '1972-06-su', '1972-05-su',
    '1972-04-su', '1972-03-su', '1972-02-su',

    '1971-12-su', '1971-11-su', '1971-10-su', '1971-09-su',
    '1971-08-su', '1971-07-su', '1971-06-su', '1971-05-su',
    '1971-04-su', '1971-03-su', '1971-02-su', '1971-01-su',

    '1970-12-su', '1970-11-su', '1970-10-su', '1970-09-su',
    '1970-08-su', '1970-07-su', '1970-06-su', '1970-05-su'

    ]

In [ ]:
for index, page in enumerate(webpage):
    urls = f"https://www.minneapolisfed.org/news-and-events/beige-book-archive/{webpage}"
    rqs = requests.get(url=urls)
    print(page, res.status_code) # used to debug for broken or unavailable links.

In [ ]:
#import datetime

#base = datetime.datetime.today()

#base.year

#date_list = [base - datetime.timedelta(days=x) for x in range(0, 100)]

In [ ]:


# regions = []
# for i in webpage:
#     if 'su' in i:
#         new = i.replace('su', 'at')
#         regions.append(new)

In [3]:
def replacer(label):
    regions = []
    for i in webpage:
        if 'su' in i:
            new = i.replace('su', label)
            regions.append(new)
    return regions

In [4]:
district = ['at', 'bo', 'ch', 'cl', 'da', 'kc', 'mi', 'ny', 'ph', 'ri', 'sf', 'sl']
fed_districts = []
for r in district:
    lst = replacer(r)
    fed_districts.extend(lst)

In [5]:
len(fed_districts)

5148

In [ ]:
full_text = None

In [ ]:
# extracts the national summary beige book from Jan 1970 to April 2019
full_text = []
for label in webpage:
    urls = f"https://www.minneapolisfed.org/news-and-events/beige-book-archive/{label}"
    #print(urls)
    res = requests.get(url=urls)
    soup = BeautifulSoup(res.content, 'lxml')
    for body in soup.find_all('section', {'class': 'article-content'}):
    #for body in soup.find('div', {'id': 'page-content'}).find_all('p')[3:]:
        #print(body.text) 
        report = {}
        report['national_report'] = body.text
        
        full_text.append(report)
        

        
df = pd.DataFrame(full_text)

In [30]:
df.shape

(429, 1)

In [33]:
df['national_report'][428]

'\n\r\n    var ref = document.referrer;\r\n    var bBPath = \'beige-book-archive\';\r\n    function backToResults() {\r\n        if (ref.indexOf(bBPath) > -1) {\r\n            history.go(-1);\r\n        }\r\n        else {\r\n            window.location.href = "./";\r\n        }\r\n    }\r\n\n‹ Back to Archive Search\nBeige Book: National Summary\nMay 20, 1970\nThis initial report of economic conditions in the 12 Federal Reserve \r\nDistricts is based on information gathered from directors of the \r\nReserve Banks, conversations with local bankers, businessmen and \r\neconomists, regular monthly surveys of manufacturing and trade \r\nindustries conducted by some of the Reserve Banks, and selected \r\nstatistical measures of regional economic activity.\nReports from the Reserve Banks clearly indicate that the current \r\noverriding domestic concern is inflation. Businessmen contacted \r\ngenerally expect that prices will continue to increase at a rapid \r\nrate during the remainder of the year. There appears to be \r\nconsiderable skepticism regarding the ability of economic \r\nstabilization policies to achieve a significant reduction in the \r\nrate of inflation without generating an intolerable level of \r\nunemployment or a \r\nfull-scale recession. Similarly, there is evidence \r\nof extensive concern about the persistence of strong upward wage \r\npressures, despite some easing in labor markets. The\r\nwage-push \r\nproblem is particularly acute in the construction industries. Some \r\nof the other major factors that are contributing to an underlying \r\ntone of pessimism regarding the business situation are prospects for \r\na continued squeeze on corporate profits, concern about the tight \r\nliquidity position of some firms, the recent decline in the stock \r\nmarket, and domestic social unrest.\nThere appears to be no consensus as to whether the economy is \r\nactually in a recession—or when the floor of the current slowdown \r\nwill be realized. Views range from expectations of a further and \r\ndeeper deterioration in real economic activity to beliefs that \r\nrecovery is already in progress. The trucking strikes and lockouts \r\nhave seriously disrupted business conditions in some areas, \r\nparticularly in the Midwest. Several Districts noted that \r\nconstruction projects have been impeded because of steel shortages, \r\nand also because of widespread strikes in the building trades \r\nunions. There are also signs that some firms are postponing or \r\nstretching out capital spending projects where feasible.\n'

In [34]:
national = []
for label in webpage:
    date = {}
    date['date'] = label.strip('-su')
    national.append(date)

df_dates = pd.DataFrame(national)
df_dates.head()

      date
0  2019-04
1  2019-03
2  2019-01
3  2018-12
4  2018-10

In [35]:
df_dates.shape

(429, 1)

In [44]:
df_2 = df.join(df_dates)

In [45]:
df_2.to_csv('./data/beige_book_national.csv')

In [ ]:
# extracts the report from all the fed dsitricts beige book from Jan 1970 to April 2019.
# code will take a while to run.
regions = []
counter = 0
for label in fed_districts:
    urls_r = f"https://www.minneapolisfed.org/news-and-events/beige-book-archive/{label}"
    #print(urls_r)
    res_r = requests.get(url=urls_r)
    soup_r = BeautifulSoup(res_r.content, 'lxml')
    for content in soup_r.find_all('section', {'class': 'article-content'}):
#     #for body in soup.find('div', {'id': 'page-content'}).find_all('p')[3:]:
        #print(content.text) 
        report = {}
        report['district_report'] = content.text
        
        regions.append(report)
        counter += 1
        if counter % 10 == 0:
            print(f'Pulled {counter} documents out of {len(fed_districts)}')
        

        
df_district = pd.DataFrame(regions)

In [75]:
df_district.head()

                                     district_report
0  \n\r\n    var ref = document.referrer;\r\n    ...
1  \n\r\n    var ref = document.referrer;\r\n    ...
2  \n\r\n    var ref = document.referrer;\r\n    ...
3  \n\r\n    var ref = document.referrer;\r\n    ...
4  \n\r\n    var ref = document.referrer;\r\n    ...

In [54]:
# extracts dates for each beige book at the district level
regional = []
for label in fed_districts:
    date = {}
    date['date'] = label
    regional.append(date)

df_dates = pd.DataFrame(regional)
df_dates.head()

         date
0  2019-04-at
1  2019-03-at
2  2019-01-at
3  2018-12-at
4  2018-10-at

In [55]:
df_dates.shape

(5148, 1)

In [78]:
df_3 = df_district.join(df_dates)

In [79]:
# save to data directory
# data file available upon request.
df_3.to_csv('./data/beige_book_district.csv')

#### Further Data Cleaning

Since the date column is retrieved as a string format, we can perform some operations on it. We seek to create another column called `district` that contains the Fed districts. This column can allow for all sorts of EDA and even the creation of panel data (using a multiindex).

In [36]:
# import the data file and drop the `Unnamed: 0` column.
district = pd.read_csv('./data/beige_book_district.csv')
district.drop(columns='Unnamed: 0', inplace=True)
district.head()

                                     district_report        date
0  \n\r\n    var ref = document.referrer;\r\n    ...  2019-04-at
1  \n\r\n    var ref = document.referrer;\r\n    ...  2019-03-at
2  \n\r\n    var ref = document.referrer;\r\n    ...  2019-01-at
3  \n\r\n    var ref = document.referrer;\r\n    ...  2018-12-at
4  \n\r\n    var ref = document.referrer;\r\n    ...  2018-10-at

In [37]:
district['date'][0].split("-")[2]

'at'

In [38]:
# splits the distrcit label from the date and creates a new column 
districts = []
for i in district['date']:
    #suffix = i.split("-")[2]
    #print(suffix)
    district_name = {}
    district_name['district'] = i.split("-")[2]
    districts.append(district_name)
dist = pd.DataFrame(districts)
district_df = district.join(dist)
district_df.head()

                                     district_report        date district
0  \n\r\n    var ref = document.referrer;\r\n    ...  2019-04-at       at
1  \n\r\n    var ref = document.referrer;\r\n    ...  2019-03-at       at
2  \n\r\n    var ref = document.referrer;\r\n    ...  2019-01-at       at
3  \n\r\n    var ref = document.referrer;\r\n    ...  2018-12-at       at
4  \n\r\n    var ref = document.referrer;\r\n    ...  2018-10-at       at

In [39]:
district['date'][0].strip("-")[:-3]

'2019-04'

In [46]:
# a function that strips the date
def date_strip(data):
    suffix = data.strip("-")[:-3]
    #print(suffix)
    return suffix

In [47]:
date_strip(district['date'][0])

'2019-04'

In [49]:
# use the apply function to apply our date_strip function to the dataframe.
district_df['date'] = district_df['date'].apply(date_strip)

In [50]:
district_df.head()

                                     district_report     date district
0  \n\r\n    var ref = document.referrer;\r\n    ...  2019-04       at
1  \n\r\n    var ref = document.referrer;\r\n    ...  2019-03       at
2  \n\r\n    var ref = document.referrer;\r\n    ...  2019-01       at
3  \n\r\n    var ref = document.referrer;\r\n    ...  2018-12       at
4  \n\r\n    var ref = document.referrer;\r\n    ...  2018-10       at

In [52]:
# save the dataframe to a csv.
# due to its large size, the data directory is hidden in the repo.
# data available upon request

district_df.to_csv('./data/beige_book_district.csv', index=False)